body {
    background-color: rgb(34, 35, 40);
}
.gallery-wrapper {
    max-width: 500px;
    padding: 20px;
}
.preview img {
    width: 100%;
    aspect-ratio: 4 /4;
    object-fit: cover;
}

.gallery-wrapper ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    gap: 0 5px;
}

#thumbs li img {
    width: 100%;
    height: 120px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    box-sizing: border-box;
}

#thumbs li img:hover {
    border-color: rgb(255, 255, 255);
}
