body {
    background-color: #1b2a31;
    color: rgba(255, 254, 254, 0.863);
    /* font-family: "Nunito", sans-serif; */
    font-family: Consolas;
    font-size: 16px;
    height: 300vh;
    margin: 0;
    padding: 50px;
}

#slider {
    border-radius: 5px;
    background: #e0e0e0;
    background: linear-gradient(left top, #e0e0e0, #eeeeee);
    width: 310px;
    height: 15px;
    margin: 5px;
}

#thumb {
    position: relative;
    width: 10px;
    height: 25px;
    border-radius: 3px;
    left: 10px;
    top: -5px;
    background: rgb(0, 145, 255);
    cursor: pointer;
}
